/* ---------------------------------------------------------- colors */

.bg-my-work {
    background: #f2f2f2;
}

/* ---------------------------------------------------------- Portfolio */

.my-work {
    padding: 100px 0;
    overflow-x: hidden;
}

.carousel-caption {
    color: #000;
}

.carousel-caption h5 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.carousel-caption a {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: #000;
    font-size: 30px;
    background: none;
}

.carousel-indicators li {
    background-color: #000;
}

.portfolio-heading {
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 60px 0;
}

.my-work .col-12, .col-md-6, .col-lg-4 {
    padding: 15px;
}

.card-img-top {
    height: 200px;
}

.btn-card {
    color: #fff;
    background-color: #262626;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.card-title, .card-text {
    color: #262626;
}

.card-title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.card-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* ---------------------------------------------------------- Hover */

.hvr-sweep-to-right:before {
    background: #b30086;
}

/* ---------------------------------------------------------- Media Queries */

@media only screen and (min-width: 700px){
    .card-img-top {
        height: 250px;
    }
}

@media only screen and (min-width: 815px) {
    .my-work {
        padding: 100px 0;
    }
}

@media only screen and (min-width: 1200px){
    .carousel-caption h5 {
    font-size: 50px;
    }
    .carousel-caption p {
    font-size: 30px;
    }
}