@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

/* ---------------------------------------------------------- colors */

.bg-header-dark {
    background-color: #262626;
}

.bg-skill {
    background-color: #ff4dd2;
}

.bg-my-skills {
    background: #f2f2f2;
}
/* ---------------------------------------------------------- Site Wide CSS */

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.section-column {
    display: table-cell;
    float: none;
    padding: 0 auto; 
}

/* ---------------------------------------------------------- Start Page */


.d-flex {
    align-items: center;
    text-align: center;
}

.home-container {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/background-artwork.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.home-text {
    font-size: 22px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 8%;
}

.btn-dark {
    background-color: transparent;
    border: 2px solid #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.home-button{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
}

.highlight-text {
    color: #b30086;
}

.hvr-sweep-to-right:before {
    background: #b30086;
}

.home-button i {
    color: #fff;
    font-size: 17px;
}


/* ---------------------------------------------------------- NavBar */

nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    position: fixed;
    border-bottom: 3px solid #b30086;
}
.navbar-brand{
    font-size: 20px;
    letter-spacing: 2px;
}

.nav-link i {
    color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #b30086;
}

/* ---------------------------------------------------------- Hover */

li a:hover, li i:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover {
    color: #b30086;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

button a:hover {
    text-decoration: none;
    color: #b30086;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.home-button:hover {
    border-color: #b30086;
    background-color: #b30086;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; 
}

/* ---------------------------------------------------------- About Me */

.section-heading {
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0 0 60px 0;
}

.personal-image {
    background: url(../images/jon-howells.JPG) no-repeat center;
    min-height: 250px;
    max-width: 250px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.about-me-heading {
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin: 30px 0;
}

.about-me-text {
    color: #262626;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* ---------------------------------------------------------- My Skills */

.progress {
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.progress-type, .progress-percentage {
    position: absolute;
    top: 0;
    height: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}

.progress-type {
    display: flex;
    left: 0;
    font-size: 11px;
    width: 70px;
    color: #fff;
    background-color: #b30086;
}

.progress-percentage {
    right: 0;
    font-size: 14px;
    color: #262626;
    padding: 0 15px 0 0;
    display: none;
}

/* ---------------------------------------------------------- My Work History */

.timeline-content {
    max-width: 500px;
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #262626;
    border-left: 1px solid;
}

.timeline-content p {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.timeline-content:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-content:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #b30086;
}

.timeline {
    margin-bottom: 30px;
}

.timeline-content h4 {
    font-family: "Railway", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

/* ---------------------------------------------------------- Portfolio */

#projects {
    margin: 20px 0;
    text-align: center;
}

.project-container {
    display: inline-block;
    position: relative;
    background-color: #262626;
}

/* ---------------------------------------------------------- Footer */

footer {
    background-color: #262626;
    color: #fff;
    min-height: 60px;
}

#footer-details {
    padding: 20px;
}

footer a {
    text-decoration: none;
}

h6 {
    margin: 0;
}

.cv-download i {
    color: #fff;
    padding-left: 4px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.cv-download i:hover{
    color: #b30086;
}
/* ---------------------------------------------------------- Media Queries */

@media only screen and (min-width: 700px){
    .home-text {
        font-size: 44px;
        line-height: 48px;
    }
    .section-column {
        padding: 100px;
    }
    .progress-type {
        width: 110px;
        font-size: 14px;
    }
    .progress-percentage {
        display: flex;
    }
    .skill-box {
        width: 110px;
        height: 110px;
    }
    .skill-box i {
        font-size: 45px;
    }
    .project-container {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (min-width: 815px) {
    .navbar-brand {
        font-size: 30px;
    }
    .navbar-nav {
        font-size: 25px;
    }
    .timeline-content {
        left: 37.5%;
    }
}

@media only screen and (max-width: 350px) {
    .navbar-toggler-icon {
        width: 1.25em;
        height: 1.25em;
    }
}

@media only screen and (min-width: 1000px){
    .section-column {
        padding: 100px 200px;
    }
    .project-container {
        width: 340px;
        height: 340px;
    }
}

