@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

/* ---------------------------------------------------------- colors */

.bg-header-dark {
    background-color: #262626;
}


/* ---------------------------------------------------------- Site Wide CSS */

.uppercase {
    text-transform: uppercase;
}

/* ---------------------------------------------------------- Start Page */


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-container {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/background-artwork.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.home-text {
    font-size: 22px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 8%;
}

/* .home-button {
    position: absolute;
    bottom: 8%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
} */

.btn-dark {
    background-color: transparent;
    border: 2px solid #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.home-button{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
}

/* .btn-dark {
    position: absolute;
    left: 45%;
    bottom: 8%;
    padding: 1em 2em;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-family: "Raleway", sans-serif;
} */

.highlight-text {
    color: #b30086;
}


/* ---------------------------------------------------------- NavBar */

nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 20px;
}
.navbar-brand{
    font-size: 20px;
    letter-spacing: 2px;
}

.nav-link, i {
    color: #fff;
}

.navbar-toggler {
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #b30086;
}

/* .navbar-toggler-icon {
    color: #fff;
} */

/* ---------------------------------------------------------- Hover */

li a:hover, i:hover, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-brand:hover {
    color: #b30086;
    transition: .5s;
}

button a:hover {
    text-decoration: none;
    color: #b30086;
    transition: .5s;
}

.home-button:hover {
    border-color: #b30086;
    background-color: #b30086;
    transition: .5s; 
}

/* .navbar-dark .navbar-nav .nav-link:hover {
    color: #b30086;
}

.navbar-dark .navbar-brand:hover {
    color: #b30086;
} */

/* ---------------------------------------------------------- About Page */

.container-page-heading {

}

.page-header {
    color: #262626;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}
/* ---------------------------------------------------------- Media Queries */

@media only screen and (min-width: 700px){
    .home-text {
        font-size: 44px;
        line-height: 48px;
    }
}

@media only screen and (min-width: 815px) {
    .navbar-brand {
        font-size: 30px;
    }
    .navbar-nav {
        font-size: 25px;
    }
}

@media only screen and (max-width: 350px) {
    .navbar-toggler-icon {
        width: 1.25em;
        height: 1.25em;
    }
}

