@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');

/* ---------------------------------------------------------- colors */

.bg-header-dark {
    background-color: #262626;
}

/* ---------------------------------------------------------- Start Page */


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-container {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../images/background-artwork.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.home-text {
    font-size: 22px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    position: absolute;
    top: 8%;
}

.home-button {
    position: absolute;
    bottom: 8%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
}

.home-button-adjust {
    text-decoration: none;
}

/* ---------------------------------------------------------- Heading */

nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 25px;
}
.navbar-brand{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link, i {
    color: #fff;
}

nav a:hover {
    color: #666666;
}

li a:hover, i:hover {
    color: #666666;
    transition: .3s;
}

/* ---------------------------------------------------------- Media Queries */

@media only screen and (min-width: 700px){
    .home-text {
        font-size: 44px;
        line-height: 48px;
    }
}




